*{
    margin: 0;
    position: 0;
    box-sizing:border-box;
}

body{
    background-color: rgb(54, 46, 37);
    margin: auto;
    overflow: hidden;
}

.logo{
    padding-top: 20px;
    padding-left: 180px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5%; */
    padding-right: 200px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
}

button{
    text-align: center;
    color: rgb(255, 183, 0);
    background-color: rgb(45, 38, 24);
    border: 1px solid gold;
    margin: 8px;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
}

h1{
    font-weight: 1000;
    font-size: 70px;
    padding-left: 10%;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 20px;
    font-weight: 200;
    align-items: center;
    justify-content: end;
    padding-left: 1000px;
    padding-up: 70px;

}

.img{
    margin-left: 3%;
    
    
}