/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ffffff;
}

body{
    background-color: rgb(255, 255, 255);
    margin: auto;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px 150px;
    padding: 0 10px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  }
  
  .navbar-container img {
    height: 30px;
    margin-right: 50px;
  }
  
  .grow-list {
    flex-grow: 1;
  }
  
  .list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .list li:first-child {
    color: black;
  }
  
  .list li:not(:first-child) {
    color: grey;
  }
  

  .list-item {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #bbb8b8;
  }

  
  .list-item:hover {
    color: #000000;
  }
  
  .button-group {
    display: flex;
    align-items: center;
  }
  
  .nav-button {
    padding: 10px 20px;
    background-color: #622df3;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 9px;
    cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: #000000;
  }
  

.banner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.banner-container h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #2b1f4c;

}

.banner-container h1 span {
  color: #323db6;
}


.description {
    word-break: break-word;
  }
  

.banner-container .description {
  color: #777;
  margin-bottom: 30px;
}

.banner-container img {
  height: 600px;
  max-width: 150%;
  margin-top: 30px;
  margin-right: 100px;
}

@media screen and (min-width: 768px) {
  .banner-container {
    flex-wrap: nowrap;
  }

  .banner-container div:first-child {
    flex-basis: 50%;
    margin-right: 50px;
  }

  .banner-container div:last-child {
    flex-basis: 40%;
  }
}


